.room-list ul li{
    list-style: none;
}
.luxury-experience {
    font-size: 1.1rem; 
    font-weight: bold;
}

.bold {
    font-weight: bold;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; /* Adjust the spacing between images */
}
.image-wrapper {
    width: calc(50% - 5px); /* Set width for images with slight spacing */
    margin-bottom: 10px; /* Add some space below each image */
}
.image-wrapper img {
    width: 100%; /* Make images full width */
    height: auto; /* Keep aspect ratio */
}
@media (max-width: 768px) {
    .image-wrapper {
      width: 100%; /* Make images full width on mobile */
    }
}
.image-wrapper {
    overflow: hidden;
    position: relative;
}
.image-container .image-wrapper img{
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.image-wrapper:hover img {
    transform: scale(1.1); /* Scale the image on hover */
}
.image-wrapper .img-1{
    height:243px;
}