.filters-div{
    background-color: #0f2b3c;
    color:white;
    border: white;;
}
.filter-div *{
    all:inherit;
}
.dark-table tbody tr td, .dark-table thead th{
    background-color: gray;
    color:white;
}
.light-table tbody tr td, .light-table thead th{
    background-color: #f5f5f5;
    color:black;
}
tr.selected-row td{
    background-color: #7fb6b9; /* You can choose any color you prefer */
}
.rounded-button {
    border-radius: 100%;
    padding: 8px;
}