.room-list ul li{
    list-style: none;
}
.luxury-experience {
    font-size: 1.1rem; 
    font-weight: bold;
}

.bold {
    font-weight: bold;
}
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px; 
    margin-top: 10px;
}
.image-wrapper {
    width: calc(50% - 5px); 
    margin-bottom: 10px; 
}
.image-wrapper img {
    width: 100%; 
    height: auto; 
}
@media (max-width: 768px) {
    .image-wrapper {
        width: 100%; 
    }
}
.image-wrapper {
    overflow: hidden;
    position: relative;
}
.image-container .image-wrapper img{
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.image-wrapper:hover img {
    transform: scale(1.1); 
}
.image-wrapper .img-1{
    height:243px;
}
.room-info-container .room-info{
    font-size:large;
    font-weight: bold;
    padding:13px;
}
.room-info-container .room-info .avl{
    font-weight: bold;
    font-size: xx-large;
}
.button-sam{
    padding:0px auto;
}